.Weather h1 {
  margin: 0 0 -70px 0;
  font-weight: 700;
  font-size: 100px;
  background: -webkit-linear-gradient(
    rgba(255, 255, 255, 1),
    rgba(255, 255, 255, 0)
  );
  background-clip: border-box;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.Weather .Images {
  margin: -20px;
}

.Weather h2 {
  font-weight: 700;
  font-size: 30px;
  color: #fff;
  text-align: center;
}

.Weather h3 {
  font-size: 16px;
  color: rgba(255, 255, 255, 0.6);
}

.Weather span {
  font-size: 16px;
  color: rgba(255, 255, 255, 0.6);
  margin-top: 15px;
  margin-bottom: 15px;
}

.Weather .container {
  max-width: 100%;
  margin: 20px 0 0 0;
  padding: 50px;
  text-align: center;
  border: none;
  border-radius: 10px;
  background: linear-gradient(160deg, #61b1fe 0%, #aedefe 48%, #82e0fe 100%);
}

.Weather input {
  width: 100%;
  height: 50px;
  color: #001462;
  font-size: 15px;
  border-style: solid;
  border-color: #001462;
  border-radius: 10px;
}

.Weather .button {
  font-size: 15px;
  color: #fff;
  background-color: #001462;
}

.Weather ::placeholder {
  font-size: 15px;
  color: #001462;
}

.Weather button {
  color: #fff;
  width: 100px;
  border: solid;
  border-radius: 40px;
  border-color: #fff;
  background-color: rgba(255, 255, 255, 0.2);
  margin: 20px 5px;
}
